@font-face {
  font-family: 'Minecraftia';
  src: url(./src/fonts/Minecraftia.ttf);
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Minecraftia', Arial, Helvetica, sans-serif;
}

.main {
  max-width: 80rem;
  margin: 5rem auto;
}

/* HEADER START */

.main-title {
  text-align: center;
  font-size: 4rem;
}

/* HEADER END */

/* GAMEBOAD START */

.gameboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 35rem;
  margin: 0 auto;
}

.cell {
  flex-basis: calc(33.33% - 20px);
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  font-size: 5rem;
}

.cell:nth-child(4),
.cell:nth-child(5),
.cell:nth-child(6) {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.cell:nth-child(2),
.cell:nth-child(5),
.cell:nth-child(8) {
  border-left: 5px solid black;
  border-right: 5px solid black;
}

/* GAMEBOAD END */
